# 环境配置
/venv/
/.venv/
/.env
/.env.local
/.env.*.local
/django_template_repo/settings_*.py

# 缓存
**/__pycache__/
/.cache/
/cache/

# 日志
/logs/
*.log

# 系统文件
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# IDE配置
/.git/
/.idea/
/.vscode/
/.apifox/
